<% if cable %>
  <div class="message-container other-message" data-user-id=<%= message.user_id %> >
    <i class="author">
      <span><%= message.user.username %></span>
      <small><%= message.created_at.strftime("%d/%m/%y, %Hh%M") %></small>
    </i>
    <div  class=" d-flex ">
      <% unless message.user.photo.attachment.nil? %>
        <%= cl_image_tag message.user.photo.key %>
        <p><%= message.content%></p>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="message-container <%= message.user == current_user ? 'my-message' : 'other-message' %>" data-user-id=<%= message.user_id %> >
    <i class="author">
      <span><%= message.user.username %></span>
      <small><%= message.created_at.strftime("%d/%m/%y, %Hh%M") %></small>
    </i>
    <div  class=" d-flex ">
        <% if message.user != current_user %>
          <% unless message.user.photo.attachment.nil? %>
            <%= cl_image_tag message.user.photo.key %>
          <% end %>
        <% end %>
        <p><%= message.content%></p>
    </div>

  </div>
<% end %>
