<%= render 'shared/onglet' %>
<div class="container-fluid chatroom-layout" data-user-id="<%= current_user.id %>">
<!--   <div class="row">
    <div class="col-sm-12"> -->
      <h2 class="title-chat text-center"><%= @chatroom.bet_room.name %></h2>
   <!--    <div class="form-chat">
        <div class="form-inputs-chat"> -->
      <div id="messages" data-betroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.order(created_at: :asc).each do |message| %>
          <%= render 'messages/message', message: message, cable: false %>
        <% end %>
      </div>

      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message" %>
      <% end %>
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
</div>
