<%= render 'shared/onglet' %>
<div class="container-fluid text-center image-edit-friends" >
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mb-4 m-0"><%=  @bet_room.name%></h1>
      <div class="form_friend">
        <div class="form-inputs-new-bet-room">
          <%= simple_form_for(@bet_room) do |f| %>

            <h3>Ajouter des amis - <span id="friends-counter"></span> </h3>
            <div class="friends-list-edit">
              <%= f.association :users, as: :check_boxes, label_method: lambda { |user| render "bet_rooms/new_form_label", user: user }, label: false, wrapper_html: { class: "friends-input" } %>
            </div>
            <div class="edit-btns">
                <%= f.button :submit, "Ajouter", class: "button-add-delete-friend"%>
                <%= link_to "Annuler", bet_room_path, class: "button-add-delete-friend", id:"cancel" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
