<table class="table table-hover">
  <thead>
    <tr>

      <th scope="col">#</th>
      <th scope="col">BET ROOM</th>
      <th scope="col">Gamers</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody>
     <% @bet_rooms.each do |room| %>
      <tr>
        <th scope="row">1</th>
        <td>"<%=room.name%>"</td>
        <td><%=room.users.count%></td>
        <td>game on</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
    <div class="cards">
      <% @bet_rooms.each do |room| %>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_url "rooney.jpg" %>') ;">
          <div class="card-category">
            <div class=" text-white mb-3" style="max-width: 18rem";>
              <div class="card-header"><%=room.name%></div>
              <div class="card-body">
                <%= link_to 'BET now!', bet_room_path(room), class: "btn pierre" %>
                <!-- <button class = "btn pierre"> <%#= link_to 'BET now!', bet_rooms_path(room) %> </button> -->
                <p class="card-text"><%=room.users.count%> gamers</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>


