<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="title-new">Creez votre Bet Room</h2>
      <div class="form">
        <div class="form-inputs-new">
          <%= simple_form_for(@bet_room) do |f| %>

            <div class="input-name">
              <%= f.input :name, label: false, placeholder: 'Nom de la Room'%>
            </div>
            <h3>Amis</h3> <p id= "friends-counter"></p>

            <div class="friends-list">
              <%= f.association :users, as: :check_boxes, label_method: lambda { |user| render "bet_rooms/new_form_label", user: user }, label: false, wrapper_html: { class: "friends-input" } %>

            </div>
            <h3>Photos</h3>
            <%= f.input :photo, label: false, as: :file %>
            <%= f.button :submit, "Go!", class: "btn-back btn-flat"%>

          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
