<%= render 'shared/onglet' %>

    <h1 class="m-0 text-center mb-4"><%= @bet_room.name %></h1>
    <%= link_to 'Nouveau pari', new_sport_bet_room_events_path(@bet_room), style:"text-decoration:none", class: "btn-flat", data: {turbolinks: false} %>

<!--     <div class="btn-flat">

    </div> -->
      <%#= render 'shared/button' %>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-ongoing-tab" data-toggle="tab" href="#nav-ongoing" role="tab" aria-controls="nav-ongoing" aria-selected="true">En cours</a>
      <a class="nav-item nav-link" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="false">Proposés</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-ongoing" role="tabpanel" aria-labelledby="nav-ongoing-tab">
      <% if @upcoming_user_events.empty? %>
        <p class = "text-center mt-4">Tu n'as pas de pari en cours</p>
      <% end %>

      <% @events.each do |event| %>
        <% unless event.bets.empty? || event.bets.first.amount_cents == 0 || event.bets.where(user_id: current_user).empty? %>
          <% if event.results.nil? %>
            <p id="p-card">Créé par <%=event.bets.first.user.username%></p>
            <div class="cardsEvent">
              <div class="card-event event-<%= event.sport %>">
                <div class="card-event-line1">
                  <span><%=event.sport %></span>
                  <span>
                    <% if event.bets.count > 0 %>
                      <%#=event.bets.first.user.username%>
                    <% else %>
                      user incognito
                    <% end %>
                  </span>
                  <span>
                    <% if event.bets.count > 0 %>
                      Mise :<%= event.bets.first.amount_cents %>
                    <% else %>
                      0€
                    <% end %>
                  </span>
                </div>
                <div class="card-event-line5">
                  <span>
                    <button class="btn btn-5 btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= event.users.distinct.count %> <i class="fas fa-users"></i>
                    </button>

                    <div class="dropdown-menu">
                      <% event.bets.each do |bet|  %>
                        <a class="dropdown-item" href="#"><%= bet.user.username %></a>
                      <% end %>
                    </div>

                  </span>
                  <span>
                    <% if event.bets.count > 0 %>
                      Cagnotte :<%= (event.bets.first.amount_cents * event.bets.count) %> €
                    <% else %>
                      0€
                    <% end %>
                  </span>
                </div>
                <div class="card-event-line2"><%=event.game %></div>
                <div class="card-event-line3"><%=event.description %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
      <div class="cardsEvent">
        <% if @proposed_events.empty? %>
          <p class = "text-center mt-4">Tes potes n'ont pas proposé de pari</p>
        <% end %>

          <% @events.each do |event| %>
            <% unless event.nil? || event.bets.nil? || event.bets.first.nil? || event.bets.first.amount_cents == 0  %>
              <% if event.results.nil? && event.bets.where(user_id: current_user.id).empty? %>
                <div class="card-event event-<%= event.sport %>">
                  <div class="card-event-line1">
                    <span><%=event.sport %></span>
                    <span>
                      <% if event.bets.count > 0 %>
                        <%=event.bets.first.user.username%>
                      <% else %>
                        user incognito
                      <% end %>
                    </span>
                    <span>
                      <% if event.bets.count > 0 %>
                        Mise :<%= event.bets.first.amount_cents %>
                      <% else %>
                        0€
                      <% end %>
                    </span>
                  </div>
                  <div class="card-event-line5">
                    <span>
                      <button class="btn btn-5 btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= event.users.distinct.count %> <i class="fas fa-users"></i>
                      </button>

                      <div class="dropdown-menu">
                        <% event.bets.each do |bet|  %>
                          <a class="dropdown-item" href="#"><%= bet.user.username %></a>
                        <% end %>
                      </div>

                    </span>
                    <span>
                      <% if event.bets.count > 0 %>
                        Cagnotte :<%= (event.bets.first.amount_cents * event.bets.count) %> €
                      <% else %>
                        0€
                      <% end %>
                    </span>

                  </div>
                  <div class="card-event-line2"><%=event.game %></div>
                  <div class="card-event-line3"><%=event.description %></div>
                  <div class="card-event-line4">
                    <%= simple_form_for [event, Bet.new]  do |f| %>
                      <%= f.hidden_field :result, value: true %>
                      <%= f.hidden_field :amount_cents, value: event.bets.first.amount_cents %>
                      <%= f.button :submit, "Yes!", class:"btn btn-success"  %>
                    <% end %>

                    <%= simple_form_for [event, Bet.new]  do |f| %>
                      <%= f.hidden_field :result, value: false %>
                      <%= f.hidden_field :amount_cents, value: event.bets.first.amount_cents %>
                      <%= f.button :submit, "No Way" , class:"btn btn-danger" %>
                    <% end %>

                  </div>

                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>

