

<div class="container text-center"><h1>Bienvenue dans la salle de jeu <%= @bet_room.name %> </h1></div>



<div class="container text-center"><%= link_to "Lance un Pari ", new_sport_bet_room_events_path(@bet_room), class: "btn btn-flat" %></div>





  <div class="text-center"><h1 id="banner-typed-text"><strong> Paris en cours ...</strong> </h1>
  </div>

<div class="container">
  <div class="event-table-header">
    <div class="event-id"></div>
    <div class="event-sport">Sport</div>
    <div class="event-game">Game</div>
    <div class="event-descr">Description</div>
    <div class="event-amount">€</div>
    <div class="event-bet">Bet</div>
  </div>
  <% @events.each do |event| %>
    <% if event.description? %>
      <div class="event-table-body">
        <div class="event-id"><%=event.id%></div>
        <div class="event-sport"><%=event.sport%></div>
        <div class="event-game"><%=event.game %> </div>
        <div class="event-descr"><%= event.description%> </div>
        <div class="event-descr">2€</div>
        <div class="event-bet"><button class="btn btn-success"> I bet Yes!</button>-<button class="btn btn-danger"> No way!</button></div>
      </div>
    <% end %>
  <% end %>
</div>

</br>
</br>
</br>

<div class="container text-center"><h1>CHAT</h1></div>
