

<div class="container text-center"><h1>Bienvenue dans la salle de jeu <%= @bet_room.name %> </h1></div>


<div class="container text-center"><%= link_to "Lance un Pari ", sport_bet_room_events_path(@bet_room), class: "btn btn-flat" %></div>




  <div class="text-center"><h1 id="banner-typed-text"><strong> Paris en cours ...</strong> </h1>
  </div>


  <div class="cards">
    <% @events.each do |event| %>

      <div class="card-event">
        <div class="card-event-line1">
          <span><%=event.sport %></span>
          <span><%=event.sport %></span>
        </div>
        <div class="card-event-line2"><%=event.game %></div>
        <div class="card-event-line3"><%=event.description %></div>
        <div class="card-event-line4"><button class="btn btn-success">Yes !</button><button class="btn btn-danger">No way</button></div>
      </div>
    <% end %>
  </div>

</br>
</br>
</br>

<div class="container text-center"><h1>CHAT</h1></div>

