
<% @events.each do |event| %>
  <% if  event.bets != []%>

    <div class="backblue" id="accordion">

      <div class="card-event">
        <div class="card-event-line1 text-center">
            <button class="btn btn-pouet btn-lg " data-toggle="collapse" data-target="#collapseOne-<%= event.id %>" aria-expanded="true" data-toggle="false" aria-controls="collapseOne">
            <%= cl_image_tag event.bets.first.user.photo.key, class: "md avatar-pouet   "%>
              <span ><strong><%= event.game %></strong></span>
              <div><%= event.description %></div>
                <% if event.winners.include?(current_user) %> <span class="justify-content-end">🏆</span>
                <% else event.winners.include?(current_user) %> <span class="justify-content-end"> 👎</span>
                <% end %>
              </span >
                <% if event.results == true %>
                  <span class="justify-content-end">✅</span>
                <% else %>
                  <span class="justify-content-end">❌</span>
                <% end %>
            </button>
        </div>
      </div>

      <div id="collapseOne-<%= event.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body ">
          <div class="cardsEvent">
            <div class="card-event">
              <div class="card-event-line2"><h2><strong> Résultat ! </strong></h2></div>
              <div class="card-event-line2"><%=event.game %></div>
              <div class="card-event-line3"><%=event.description %></div>
            </div>
          </div>
        </div>

        <table class="table table-dark table-stat">
          <thead>
            <tr>
              <th scope="col">👦</th>
              <th scope="col">🎲</th>
              <th scope="col">€</th>
            </tr>
          </thead>
          <tbody>
            <% event.users.each do |poto| %>
              <tr>
                <td><%= cl_image_tag poto.photo.key, class: "md avatar-diane "%></td>
                <td>
                  <% if event.winners.include?(poto)%>
                    🏅
                  <% else %>
                    👎
                  <% end %>
                </td>
                <td>
                  <% if event.winners.include?(poto) && event.winners.count != 0 %>
                      <%= event.bets.first.amount_cents * event.users.count / event.winners.count %> €
                  <% else %>
                    0 €
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>


      </div> <!-- fin du collapse -->

    </div>
  <% end %>
<% end %>  <!-- end de la bouce event -->

























