<%= render 'shared/onglet' %>
<div class = "container-select-event">
  <div class = "arrow-left">
    <%= link_to "", edit_game_event_path(@event), class:"fas fa-arrow-left", data: {turbolinks: false} %>
  </div>
  <h2>Type de Pari</h2>
</div>

<h3>
  Résultat du match
</h3>

<h3>
  Nombre total de buts
</h3>

<h3>
  But pour les 2 équipes
</h3>

<h3>
  Score exact
</h3>

<%= simple_form_for @event, url: update_description_event_path, html: { method: :post, id: :edit_description } do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :description %>
  <div data-event="1 - 0" class="list-description">
    1 - 0
  </div>
  <div data-event="2 - 0" class="list-description">
    2 - 0
  </div>
  <div data-event="3 - 0" class="list-description">
    3 - 0
  </div>
  <%= f.input :home_team_score, as: :numeric, input_html: { min: 0, max: 10 }  %>
  <%= f.input :away_team_score, as: :numeric, input_html: { min: 0, max: 10 }  %>
  <%= f.button :submit, "Next" %>
<% end %>


