<div class="banner">

  <div class="container">
    <div class="avatar-profile">
      <%= cl_image_tag current_user.photo.key, class: "avatar-profile dropdown-toggle"%>
    </div>

    <h1 class="text-center"><%= current_user.username %></h1>
    <h2 class="text-center"> Ma tirelire :</h2>
    <h1 class="text-center"><%= current_user.amount_cents/100 %> €</h1>


    </br>

    <div class="cardsProfile">
      <div class="card-profile">
        <p class="text-center"> Gains :
          0€
        </p>
        <p class="text-center"> Pertes :
          0€
        </p>
      </div>
      <div class="card-profile">
        <%= simple_form_for current_user, url: profile_update_path, method: :patch do |f| %>
          <%= f.input :amount_cents, input_html: {value: 1}, as: :hidden %>
          <%= f.button :submit, "Verser 1 €" , class: "btn btn-flat"%>
        <% end %>
      </div>
      <div class="card-profile">
        <%= simple_form_for current_user, url: profile_update_path, method: :patch do |f| %>
          <%= f.input :amount_cents, input_html: {value: 5}, as: :hidden %>
          <%= f.button :submit, "Verser 5 €" , class: "btn btn-flat"%>
        <% end %>
      </div>
      <div class="card-profile">
        <%= simple_form_for current_user, url: profile_update_path, method: :patch do |f| %>
          <%= f.input :amount_cents, input_html: {value: 10}, as: :hidden %>
          <%= f.button :submit, "Verser 10 €" , class: "btn btn-flat"%>
        <% end %>
      </div>
    </div>

  </div>
</div>

