<!DOCTYPE html>
<html>
  <head>
    <title>Pareasy: les paris entre amis</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= render 'shared/ios_pwa_links' %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'shared/navbar' %>
    <%# if (params[:controller] == 'bet_rooms' && params[:action] == 'show') || (params[:controller] == 'events' && params[:action] == 'index') %>
      <%#= render 'shared/onglet' %>
    <%# end %>
    <%= render 'shared/flashes' %>
    <div class = "content-wrapper">

      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
